<p>Select the file you want to process and click on "Send file"</p>
<form method="POST" action="/results" enctype="multipart/form-data">
  <div class="form-group">
    <label for="list"></label>
    <input type="file" name="list" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Send file</button>
</form>